[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "ggsolvencyii"]
	path = ggsolvencyii
	url = https://github.com/vanzanden/ggsolvencyii
